In [13]:
import numpy as np
import pandas as pd
import os
import json
import pprint

In [14]:
dataset_name = 'spam2'

In [15]:
input_dir = './raw'
output_dir = './processed'

inp_fname = 'dataset_44_spambase.csv'

outp_fname = os.path.join(output_dir, f'{dataset_name}.csv')
outp_test_key_fname = os.path.join(output_dir, f'{dataset_name}_test_key.csv')

# Read Data

In [16]:
data = pd.read_csv(os.path.join(input_dir, inp_fname))
data.head()

,word_freq_make,word_freq_address,word_freq_all,word_freq_3d,word_freq_our,word_freq_over,word_freq_remove,word_freq_internet,word_freq_order,word_freq_mail,...,char_freq_%3B,char_freq_%28,char_freq_%5B,char_freq_%21,char_freq_%24,char_freq_%23,capital_run_length_average,capital_run_length_longest,capital_run_length_total,class
0,0.00,0.64,0.64,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.00,0.000,0.0,0.778,0.000,0.000,3.756,61,278,1
1,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.00,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
2,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.01,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1

In [17]:
id_col = "id"
target_col = "class"

# Insert Id Column

In [18]:
# insert Id column 
if id_col not in data.columns:
    N = data.shape[0]
    data.insert(0, id_col, np.arange(N))
    print(data.head())

data[id_col] = data[id_col].astype(str)

   id  word_freq_make  word_freq_address  word_freq_all  word_freq_3d  \
0   0            0.00               0.64           0.64           0.0
1   1            0.21               0.28           0.50           0.0
2   2            0.06               0.00           0.71           0.0
3   3            0.00               0.00           0.00           0.0
4   4            0.00               0.00           0.00           0.0

   word_freq_our  word_freq_over  word_freq_remove  word_freq_internet  \
0           0.32            0.00              0.00                0.00
1           0.14            0.28              0.21                0.07
2           1.23            0.19              0.19                0.12
3           0.63            0.00              0.31                0.63
4           0.63            0.00              0.31                0.63

   word_freq_order  ...  char_freq_%3B  char_freq_%28  char_freq_%5B  \
0             0.00  ...           0.00          0.000            0.0
1             0.00  ...           0.00          0.132            0.0
2             0.64  ...           0.01          0.143            0.0
3             0.31  ...           0.00          0.137            0.0
4             0.31  ...           0.00          0.135            0.0

   char_freq_%21  char_freq_%24  char_freq_%23  capital_run_length_average  \
0          0.778          0.000          0.000                       3.756
1          0.372          0.180          0.048                       5.114
2          0.276          0.184          0.010                       9.821
3          0.137          0.000          0.000                       3.537
4          0.135          0.000          0.000                       3.537

   capital_run_length_longest  capital_run_length_total  class
0                          61                       278      1
1                         101                      1028      1
2                         485                      2259      1
3                          40                       191      1
4                          40                       191      1

[5 rows x 59 columns]

# Shuffle Data

In [19]:
# shuffle data
data = data.sample(frac=1, random_state=42)
data.head()

,id,word_freq_make,word_freq_address,word_freq_all,word_freq_3d,word_freq_our,word_freq_over,word_freq_remove,word_freq_internet,word_freq_order,...,char_freq_%3B,char_freq_%28,char_freq_%5B,char_freq_%21,char_freq_%24,char_freq_%23,capital_run_length_average,capital_run_length_longest,capital_run_length_total,class
3683,3683,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.0,...,0.0,0.000,0.000,0.0,0.0,0.0,1.000,1,3,0
4412,4412,0.71,0.0,0.71,0.0,0.0,0.0,0.0,0.00,0.0,...,0.0,0.000,0.000,0.0,0.0,0.0,1.032,2,32,0
2584,2584,0.00,0.0,0.91,0.0,0.0,0.0,0.0,0.45,0.0,...,0.0,0.000,0.000,0.0,0.0,0.0,1.320,7,103,0
69,69,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.0,...,0.0,0.201,0.000,0.0,0.1,0.0,4.548,59,141,1
1844,1844,0.00,0.0,0.54,0.0,0.0,0.0,0.0,0.00,0.0,...,0.0,0.188,0.047,0.0,0.0,0.0,1.745,12,89,0

# Save Main Data File

In [20]:
data.drop(target_col,axis=1).to_csv(outp_fname, index=False)

# Test Key

In [21]:
data_key = data[[id_col, target_col]].rename(columns={target_col: "__target__"})
data_key.to_csv(outp_test_key_fname, index=False)