In [15]:
import numpy as np
import pandas as pd
import os

In [16]:
dataset_name = "steel_plate_fault2"

In [17]:
input_dir = './raw'
output_dir = './processed'

inp_fname = f'steel_plate_fault.csv'

outp_fname = os.path.join(output_dir, f'{dataset_name}.csv')
outp_test_key_fname = os.path.join(output_dir, f'{dataset_name}_test_key.csv')

# Read Data

In [18]:
data = pd.read_csv(os.path.join(input_dir, inp_fname))
data.head()

,id,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V19,V20,V21,V22,V23,V24,V25,V26,V27,target
0,1605,1117,1154,1194359,1194414,1055,69,56,110262,72,...,0.5362,0.9821,1.0,3.0233,1.5682,1.7404,0.3273,-0.1835,1.0000,Other_Faults
1,1502,1572,1610,337559,337645,1570,176,128,128770,29,...,0.2159,0.6719,1.0,3.1959,1.5798,1.9345,0.5581,-0.3592,1.0000,Other_Faults
2,70,1617,1628,2095494,2095507,89,14,13,7804,77,...,0.7857,1.0000,1.0,1.9494,1.0414,1.1139,0.1539,-0.3150,0.2570,Pastry
3,976,1317,1324,2166062,2166078,78,12,16,9381,110,...,0.5833,1.0000,1.0,1.8921,0.8451,1.2041,0.5625,-0.0604,0.2195,Bumps
4,1052,386,394,1304617,1304626,51,10,9,5795,100,...,0.8000,1.0000,1.0,1.7076,0.9031,0.9542,0.1111,-0.1123,0.1773,Bumps

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1941 entries, 0 to 1940
Data columns (total 29 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      1941 non-null   int64
 1   V1      1941 non-null   int64
 2   V2      1941 non-null   int64
 3   V3      1941 non-null   int64
 4   V4      1941 non-null   int64
 5   V5      1941 non-null   int64
 6   V6      1941 non-null   int64
 7   V7      1941 non-null   int64
 8   V8      1941 non-null   int64
 9   V9      1941 non-null   int64
 10  V10     1941 non-null   int64
 11  V11     1941 non-null   int64
 12  V12     1941 non-null   int64
 13  V13     1941 non-null   int64
 14  V14     1941 non-null   int64
 15  V15     1941 non-null   float64
 16  V16     1941 non-null   float64
 17  V17     1941 non-null   float64
 18  V18     1941 non-null   float64
 19  V19     1941 non-null   float64
 20  V20     1941 non-null   float64
 21  V21     1941 non-null   float64
 22  V22     1941 non-null   float64
 23  V23     1941 non-null   float64
 24  V24     1941 non-null   float64
 25  V25     1941 non-null   float64
 26  V26     1941 non-null   float64
 27  V27     1941 non-null   float64
 28  target  1941 non-null   object
dtypes: float64(13), int64(15), object(1)
memory usage: 439.9+ KB

In [20]:
id_col = "id"
target_col = "target"

# Save Main Data File

In [21]:
data.drop(target_col,axis=1).to_csv(outp_fname, index=False)

# Test Key

In [22]:
data_key = data[[id_col, target_col]].rename(columns={target_col: "__target__"})
data_key.to_csv(outp_test_key_fname, index=False)