In [163]:
import numpy as np
import pandas as pd
import os
import pprint
import json
import random
import matplotlib.pyplot as plt
from sklearn.manifold import TSNE
%matplotlib inline

In [164]:
dataset_name = 'unequal_variance_blobs'

In [165]:
input_dir = './raw'
output_dir = './processed'

inp_fname = f'unequal_variance_blobs.csv'

outp_fname = os.path.join(output_dir, f'{dataset_name}.csv')
outp_test_key_fname = os.path.join(output_dir, f'{dataset_name}_test_key.csv')
outp_infer_instances = os.path.join(output_dir, f'{dataset_name}_infer_req.json')
outp_fig_fname = os.path.join(output_dir, f'{dataset_name}.png')

# Create Data

In [166]:
def set_seeds():
    np.random.seed(0)
    random.seed(0)

In [167]:
def get_cov_matrix():
    A = np.random.rand(NUM_FEATURES, NUM_FEATURES)
    B = np.dot(A, A.transpose())
    
    rand_scale = np.random.uniform(.1,10)
    B = B * rand_scale
    return B
          
#get_cov_matrix()

In [168]:
def get_cluster_params():
    num_samples = np.random.randint(NUM_SAMPLES_FROM_CLUSTER_MIN, NUM_SAMPLES_FROM_CLUSTER_MAX)
    mean = np.random.uniform(MEAN_MIN,MEAN_MAX,NUM_FEATURES)
    cov = get_cov_matrix()
    return {
        "num_samples": num_samples,
        "mean": mean,
        "cov": cov
    }

In [169]:
def get_cluster_samples(cluster_params):
    samples = np.random.multivariate_normal(
        mean=cluster_params["mean"], 
        cov=cluster_params["cov"],  
        size=cluster_params["num_samples"]
    )
    return samples

In [170]:
MEAN_MIN = -3.
MEAN_MAX = 3.
COV_MIN = -5.
COV_MAX = 5.

NUM_FEATURES = 8

NUM_CLUSTERS = 8

NUM_SAMPLES_FROM_CLUSTER_MIN = 300
NUM_SAMPLES_FROM_CLUSTER_MAX = 1500

set_seeds()

all_Xs, all_ys = [], []
for i in range(NUM_CLUSTERS):
    cluster_params = get_cluster_params()
    samples = get_cluster_samples(cluster_params)
    all_Xs.append(samples)
    all_ys.append(np.ones(shape=samples.shape[0])*i)
    
X = np.concatenate(all_Xs, axis=0)
y = np.concatenate(all_ys, axis=0)
print(np.unique(y, return_counts=True), y.shape)

(array([0., 1., 2., 3., 4., 5., 6., 7.]), array([ 984, 1404,  970, 1196,  302,  695, 1412, 1104], dtype=int64)) (8067,)

In [171]:
if NUM_FEATURES == 2:
    fig = plt.scatter(Xs[:,0], Xs[:, 1], alpha=0.2, c=ys)

# Plot the Generated Data

In [172]:
tsne = TSNE(n_components=2)

fitted_data = tsne.fit_transform(X)
fitted_data.shape

(8067, 2)

In [1]:
fig = plt.scatter(fitted_data[:,0], fitted_data[:, 1], alpha=0.2, c=y)
plt.title("Unequal variance data - reduced to 2D using t-sne")
plt.savefig(outp_fig_fname)

NameError: name 'plt' is not defined

# Prepare Data

In [174]:
id_col = "id"
target_col = "y"

In [175]:
cols = [f"x{i+1}" for i in range(NUM_FEATURES)]
cols

data = pd.DataFrame(X, columns=cols)
data["y"] = y
data.insert(0, id_col, np.arange(X.shape[0]))

data[id_col] = data[id_col].astype(str)
data.head()

,id,x1,x2,x3,x4,x5,x6,x7,x8,y
0,0,1.549367,2.711957,2.253189,1.869028,0.821987,0.055419,-0.685244,-1.958862,0.0
1,1,-0.491735,0.289829,1.244965,1.746405,-1.019959,-2.508979,-2.304052,-4.475070,0.0
2,2,-1.431725,0.705486,-0.139013,1.475356,-1.358219,-1.756315,-2.980724,-3.161342,0.0
3,3,-1.136216,-0.420235,0.448600,1.345502,-1.937306,-2.990424,-2.924327,-4.785418,0.0
4,4,0.391644,2.521337,3.793273,1.714069,2.154602,-0.132773,-0.294504,-2.442371,0.0

In [176]:
df.to_csv(os.path.join(input_dir, f"{dataset_name}.csv"), index=False)

In [177]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8067 entries, 0 to 8066
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      8067 non-null   object
 1   x1      8067 non-null   float64
 2   x2      8067 non-null   float64
 3   x3      8067 non-null   float64
 4   x4      8067 non-null   float64
 5   x5      8067 non-null   float64
 6   x6      8067 non-null   float64
 7   x7      8067 non-null   float64
 8   x8      8067 non-null   float64
 9   y       8067 non-null   float64
dtypes: float64(9), object(1)
memory usage: 630.4+ KB

# Shuffle Data

In [178]:
# shuffle data
data = data.sample(frac=1, random_state=42)
data.head()

,id,x1,x2,x3,x4,x5,x6,x7,x8,y
742,742,0.821263,1.343610,2.218343,1.834532,0.216939,-0.893169,-1.122778,-2.936426,0.0
2127,2127,-3.408562,-1.614025,-5.366061,-2.875677,-5.318793,-0.411110,-1.907671,-4.631558,1.0
2107,2107,-1.075078,1.113914,-3.261471,0.453500,-3.322692,-0.863118,-1.230036,-2.235312,1.0
2943,2943,1.929826,1.168367,-0.745031,-1.736095,-1.200150,-2.689607,1.859517,-0.084284,2.0
4362,4362,0.709309,-0.544178,-2.868607,-0.897115,-2.500957,-2.566854,-3.685521,0.301707,3.0

# Save Main Data File

In [179]:
data.drop(target_col,axis=1).to_csv(outp_fname, index=False)

# Test Key

In [180]:
data_key = data[[id_col, target_col]].rename(columns={target_col: "__target__"})
data_key.to_csv(outp_test_key_fname, index=False)

# JSON inference request instance

In [181]:
instance = data.drop(columns=[target_col]).reset_index(drop=True).loc[0].to_dict()
infer_req_instance_dict = {  "instances": [ {**instance}, ] }
pprint.pprint(infer_req_instance_dict)
   
with open(outp_infer_instances, 'w', encoding='utf8') as f:
    json.dump(infer_req_instance_dict, f, indent=2, ensure_ascii=False)

{'instances': [{'id': '742',
                'x1': 0.8212626017058327,
                'x2': 1.3436097250269787,
                'x3': 2.218342650483472,
                'x4': 1.8345322125875887,
                'x5': 0.21693878700316338,
                'x6': -0.8931694258126613,
                'x7': -1.12277759374786,
                'x8': -2.9364260841054546}]}